.title {
    color: var(--green);
    font-size: 40px;
    margin-top: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 850px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info {
    width: 60%;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 240px;
    height: auto;
}

.link {
    color: var(--purple);
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}
