.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 850px;
}

.info {
    width: 60%;
}

.logo {
    width: 40%;
}

.logo img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}